<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Navbar</title>
	<!-- Carga de estilos de Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand navbar-brand--large" href="/">
    <img src="/images/logoEquipos.jpg" width="150" height="100" class="d-inline-block align-top" alt="Logo">
  </a>
  <a class="navbar-brand navbar-title" href="/">
    <h2>API FUTBOL</h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   
  <div class="collapse navbar-collapse" id="navbarNav">
  
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="go-to-Equipos">Equipos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/go-to-Jugadores">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="go-to-Entrenadores">Entrenadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="go-to-Estadios">Estadios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="go-to-Favoritos">Favoritos</a>
      </li>
    </ul>
  </div>
</nav>
	<!-- Carga de scripts de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>
