<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Lista de jugadores</title>
	<!-- Carga de estilos de Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/styleJugadores.css">
	<link rel="icon" type="image/jpg" href="/images/logos/FIFA logo.png">
</head>
<body>
<div class="container-fluid">
  <div id="upper">
    <h1>FOOTBALL<span style="color:red">API</span></h1>
  </div>
</div>
<nav class="container-fluid">
    <ul>
      <li class="main left"><span><a href="/" style="color:black; text-decoration: none;">INICIO</a></span></li>
      <li class="main"><span><a href="/go-to-equipos-api" style="color:black; text-decoration: none;">EQUIPOS</a></span></li>
      <li class="main"><span><a href="/go-to-Jugadores" style="color:black; text-decoration: none;">JUGADORES</a></span></li>
      <li class="main"><span><a href="/go-to-Entrenadores" style="color:black; text-decoration: none;">ENTRENADORES</a></span></li>
      <li class="main"><span ><a href="/go-to-Estadios" style="color:black; text-decoration: none;">ESTADIOS</a></span>
      <li class="main right"><span><a href="/go-to-Favoritos" style="color:black; text-decoration: none;">FAVORITOS</a></span></li>
    </ul>
</nav>

<div id="margen-top2" class="container-fluid">
  <form class="d-flex mb-4 mt-4" method="GET" action="/search-jugador">
    <input type="text" class="form-control mr-3" id="searchQuery" name="nombre" placeholder="Búsqueda de jugadores">
    <button type="submit" class="btn">Buscar</button>
  </form>
</div>

	
  <!-- *** fut-player-card ***-->
  <div id="fila" class="container">
  <div class="fut-player-card" th:each="jugador : ${jugadores}">
    <!-- Player Card Top-->
    <div class="player-card-top">
      <div class="player-master-info">
      	<div class="player-rating">
      		<a th:href="@{'/add-jugadores-favoritos?idJugador=' + ${jugador.id} + '&nombreJugador=' + ${jugador.nombre} + '&edadJugador=' + ${jugador.edad} + '&nacJugador=' + ${jugador.nacionalidad} + '&fotoJugador=' + ${jugador.urlfoto} + '&equipo=' + ${jugador.equipo}}" role="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>
			</a>
      	</div>
      </div>
      <div class="player-picture"><img th:attr="src=${jugador.urlfoto}" draggable="false"/>
        
      </div>
    </div>
    <!-- Player Card Bottom-->
    <div class="player-card-bottom">
      <div class="player-info">
        <!-- Player Name-->
        <div class="player-name" ><span th:text="${jugador.nombre}"></span></div>
        <!-- Player Features-->
        <div class="player-features">
          <div class="player-features-col"><span>
          	  <div class="player-feature-title">AÑOS: </div>
              <div class="player-feature-value"  th:text="${jugador.edad}"></div></span><span>
              <div class="player-feature-title">NACIONALIDAD: </div>
              <div class="player-feature-value"  th:text="${jugador.nacionalidad}"></div></span><span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

	<!-- Carga de scripts de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
