@import url("https://fonts.googleapis.com/css?family=Exo");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Exo";
}

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(http://orig10.deviantart.net/c37f/f/2016/188/0/d/background_fav___share_by_dreamgraphicss-da93xt5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  position: absolute;
  font-size: 1.2em;
  margin: 30px 0;
}
nav ul {
  margin: 0 auto;
}
nav ul li {
  text-align: center;
  display: inline-block;
  background: rgba(220, 220, 220, 0.5);
  padding: 5px 50px;
  transform: skew(30deg, 0deg);
}
nav ul li.main:after {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 50%;
}
nav ul li.right {
  background: none;
  background-image: linear-gradient(to right, rgba(220, 220, 220, 0.5) 70%, rgba(192, 192, 192, 0));
}
nav ul li.left {
  background: none;
  background-image: linear-gradient(to left, rgba(220, 220, 220, 0.5) 65%, rgba(192, 192, 192, 0));
}
nav ul li:hover {
  background: #f2f2f2;
  color: #222;
  text-shadow: 0px 0px 0.1px #222;
}
nav ul li span {
  display: block;
  transform: skew(-30deg, 0deg);
  color: #444;
  font-weight: 700;
  font-family: "Exo", sans-serif;
}
nav ul li span:hover {
  text-decoration: none;
  color: #222;
}

#upper {
  color: #fff;
  font-family: "Exo";
  padding: 15px 50px;
  margin: 15px 0;
}
#upper #user {
  background: rgba(192, 192, 192, 0.7);
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 60px;
  padding: 15px;
  margin: auto;
  height: 70%;
  width: 30%;
  border-radius: 30px;
}

#big-menu {
  margin: 0px 40px 150px 40px;
  transition: left 0.3s ease-out;
}

.item {
  color: #fff;
  width: 100%;
  height: 140px;
  margin: 5px;
  background-size: 100% 200%;
  background-position: right;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
.item h3 {
  padding: 5px;
}
.item.first {
  background-image: linear-gradient(130deg, rgba(172, 172, 172, 0.9) 25%, rgba(172, 172, 172, 0.3)), url(https://media.easports.com/content/www-easports/en_US/fifa/news/2015/fifa-16-e3-gameplay-trailer/_jcr_content/headerImages/image.img.jpg);
}
.item.second {
  background-image: linear-gradient(130deg, rgba(132, 132, 132, 0.9) 25%, rgba(255, 255, 255, 0.7)), url(https://s.ndtvimg.com/images/stories/brazuca-640.jpg);
}
.item.third {
  background-image: linear-gradient(130deg, #848484 25%, rgba(172, 172, 172, 0.1)), url(https://secure.static.tumblr.com/3fa5a6adcf051c7caa86753cabdbd2d7/mxodn4s/AoOmtdxe7/tumblr_static_bg.jpg);
}
.item.forth {
  background-image: linear-gradient(130deg, rgba(132, 132, 132, 0.9) 25%, rgba(172, 172, 172, 0.1)), url(https://eaassets-a.akamaihd.net/vassets.ea.com/Assets/Resources/Image/fifa-product-fifa14-gen3.jpg?cb=2013-09-13T15:13:21+0000);
}
.item.fifth {
  background-image: linear-gradient(130deg, rgba(132, 132, 132, 0.9) 25%, rgba(172, 172, 172, 0.1)), url(https://s.ndtvimg.com/images/stories/brazuca-640.jpg);
}
.item.sixth {
  background-image: linear-gradient(130deg, rgba(132, 132, 132, 0.9) 25%, rgba(172, 172, 172, 0.1)), url(http://web-vassets.ea.com/Assets/Richmedia/Image/Backgrounds/fifa-09-ultimate-team-small-bg-1366x650.jpg?cb=1412974798);
}
.item.seventh {
  background-image: linear-gradient(130deg, rgba(132, 132, 132, 0.9) 25%, rgba(172, 172, 172, 0.1)), url(https://eaassets-a.akamaihd.net/vassets.ea.com/Assets/Resources/www/ea.com/Image/FIFA_14_Products_Overview_Gen4_UK_bg.jpg?cb=2013-11-18T03:49:41+0000);
}
.item.last {
  background-image: linear-gradient(130deg, rgba(132, 132, 132, 0.9) 25%, rgba(172, 172, 172, 0.1)), url(http://s2.glbimg.com/naKjX6F3dpjHcl5IRL2O-IiuT_U=/s.glbimg.com/jo/g1/f/original/2014/06/12/neymar_2.jpg);
}
.item:hover {
  transform: scale(1.02);
  background: rgba(0, 0, 0, 0.5);
}

#menu-wrapper {
  position: absolute;
  width: 90%;
  margin: 105px 0 10px 0;
}

#second-menu {
  width: 100%;
  text-align: center;
  position: absolute;
  left: -2000px;
  font-size: 3em;	
  color: #fff;
  top: 0;
}

#margen-top {
  margin: 105px 0 0px 0;
}

#fila{
	display: inline-block;
}

/*
  *** fut-player-card styles ***
*/
.fut-player-card {
  position: relative;
  width: 300px;
  height: 485px;
  background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3.8rem 0;
  z-index: 2;
  transition: 200ms ease-in;
  margin-left: 5%;
  display: inline-block;
}
.fut-player-card .player-card-top {
  position: relative;
  display: flex;
  color: #e9cc74;
  padding: 0 1.5rem;
}
.fut-player-card .player-card-top .player-master-info {
  position: absolute;
  line-height: 2.2rem;
  font-weight: 300;
  padding: 1.5rem 0;
  text-transform: uppercase;
}
.fut-player-card .player-card-top .player-master-info .player-rating {
  font-size: 2rem;
}
.player-rating a {
  color: #e9cc74;
}

.fut-player-card .player-card-top .player-master-info .player-position {
  font-size: 1.4rem;
}
.fut-player-card .player-card-top .player-master-info .player-nation {
  display: block;
  width: 2rem;
  height: 25px;
  margin: 0.3rem 0;
}
.fut-player-card .player-card-top .player-master-info .player-nation img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fut-player-card .player-card-top .player-master-info .player-club {
  display: block;
  width: 2.1rem;
  height: 40px;
}
.fut-player-card .player-card-top .player-master-info .player-club img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fut-player-card .player-card-top .player-picture {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
.fut-player-card .player-card-top .player-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  right: -1.5rem;
  bottom: 0;
}
.fut-player-card .player-card-top .player-picture .player-extra {
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 2rem;
  padding: 0 1.5rem;
  text-align: right;
  background: none;
}
.fut-player-card .player-card-top .player-picture .player-extra span {
  margin-left: 0.6rem;
  text-shadow: 2px 2px #333;
}
.fut-player-card .player-card-bottom {
  position: relative;
}
.fut-player-card .player-card-bottom .player-info {
  display: block;
  padding: 0.3rem 0;
  color: #e9cc74;
  width: 90%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 2;
}
.fut-player-card .player-card-bottom .player-info .player-name {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(233, 204, 116, 0.1);
  padding-bottom: 0.3rem;
  overflow: hidden;
}
.fut-player-card .player-card-bottom .player-info .player-name span {
  display: block;
  text-shadow: 2px 2px #111;
}
.fut-player-card .player-card-bottom .player-info .player-features {
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
  border-right: 2px solid rgba(233, 204, 116, 0.1);
  padding: 0 2.3rem;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
  margin-right: 0.3rem;
  font-weight: 700;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
  font-weight: 300;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
  border: 0;
}