<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bienvenido a la aplicación de fútbol</title>
	<!-- Carga de estilos de Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/styleIndex.css">
	<link rel="icon" type="image/jpg" href="/images/logos/FIFA logo.png">
</head>
<body>
<div class="container-fluid">
  <div id="upper">
    <h1>FOOTBALL<span style="color:red">API</span></h1>

  </div>
</div>
<nav class="container-fluid">
    <ul>
      <li class="main left"><span><a href="/" style="color:black; text-decoration: none;">INICIO</a></span></li>
      <li class="main"><span><a href="/go-to-Equipos" style="color:black; text-decoration: none;">EQUIPOS</a></span></li>
      <li class="main"><span><a href="/go-to-Jugadores" style="color:black; text-decoration: none;">JUGADORES</a></span></li>
      <li class="main"><span><a href="/go-to-Entrenadores" style="color:black; text-decoration: none;">ENTRENADORES</a></span></li>
      <li class="main"><span ><a href="/go-to-Estadios" style="color:black; text-decoration: none;">ESTADIOS</a></span>
      <li class="main right"><span><a href="/go-to-Favoritos" style="color:black; text-decoration: none;">FAVORITOS</a></span></li>
    </ul>
</nav>
<div id="menu-wrapper">
  <section id="big-menu" class="container-fluid">
    <div class="d-flex flex-row">
      <div class="p-2 item first">
        <h3><a href="/go-to-Equipos" style="color:white; text-decoration: none;">EQUIPOS</a></h3>
      </div>
      <div class="p-2 item second">
        <h3><a href="/go-to-Estadios" style="color:white; text-decoration: none;">ESTADIOS</a></h3>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2 item third">
        <h3><a href="/go-to-Jugadores" style="color:white; text-decoration: none;">JUGADORES</a></h3>
      </div>
      <div class="p-2 item forth">
        <h3><a href="/go-to-Entrenadores" style="color:white; text-decoration: none;">ENTRENADORES</a></h3>
      </div>
    </div>

  </section>
  
</div>

	<!-- Carga de scripts de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>