<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bienvenido a la aplicación de fútbol</title>
	<!-- Carga de estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/styleIndex.css">
	<link rel="icon" type="image/jpg" href="/images/logos/FIFA-logo.png">
</head>
<body>
<div class="container-fluid">
<!-- Logo cabecera -->
  <div id="upper">
    <h1><a class="logo-link" href="/">FOOTBALL<span style="color:red">API</span></a></h1>
  </div>
</div>
<nav class="container-fluid">
    <ul>
      <li class="main left"><span><a href="/" style="color:black; text-decoration: none;">INICIO</a></span></li>
      <li class="main"><span><a href="/go-to-equipos-api" style="color:black; text-decoration: none;">EQUIPOS</a></span></li>
      <li class="main"><span><a href="/go-to-Jugadores" style="color:black; text-decoration: none;">JUGADORES</a></span></li>
      <li class="main"><span><a href="/go-to-Entrenadores" style="color:black; text-decoration: none;">ENTRENADORES</a></span></li>
      <li class="main"><span ><a href="/go-to-Estadios" style="color:black; text-decoration: none;">ESTADIOS</a></span>
      <li class="main right"><span><a href="/go-to-Favoritos" style="color:black; text-decoration: none;">FAVORITOS</a></span></li>
      <li class="main right"><span><a href="/login" style="color:black; text-decoration: none;">LOG IN</a></span></li>
      <li class="main right"><span><a href="/logout" style="color:black; text-decoration: none;">LOG OUT</a></span></li>
      <li class="main right"><span><a href="/register" style="color:black; text-decoration: none;">REGISTER</a></span></li>
      
      
    </ul>
</nav>
<div id="menu-wrapper">
  <section id="big-menu" class="container-fluid">
    <div class="d-flex flex-row">
      <div class="p-2 item first">
        <h3><a href="/go-to-Equipos" style="color:white; text-decoration: none;">EQUIPOS</a></h3>
      </div>
      <div class="p-2 item second">
        <h3><a href="/go-to-Estadios" style="color:white; text-decoration: none;">ESTADIOS</a></h3>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2 item third">
        <h3><a href="/go-to-Jugadores" style="color:white; text-decoration: none;">JUGADORES</a></h3>
      </div>
      <div class="p-2 item forth">
        <h3><a href="/go-to-Entrenadores" style="color:white; text-decoration: none;">ENTRENADORES</a></h3>
      </div>
    </div>

  </section>
</div>
	<!-- Carga de scripts de Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body>
</body>
</html>