<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test API</title>
</head>
<body>
    <h1>Equipos obtenidos desde la API:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>País</th>
            <th>URL Foto</th>
        </tr>
        <tr th:each="equipo : ${equipos}">
            <td th:text="${equipo.id}"></td>
            <td th:text="${equipo.nombre}"></td>
            <td th:text="${equipo.pais}"></td>
            <td th:text="${equipo.urlfoto}"></td>
        </tr>
    </table>
</body>
</html>
